.note {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 10px 5px;
  border-radius: 100%;
  background: #fd8e9c;
  box-shadow: 0px 0px 3px 2px #ff8e9c;

  &.is_playing {
    box-shadow: 0px 0px 3px 2px #ffffff;
  }
  &.active {
    background: #d5aef3;
    box-shadow: 0px 0px 3px 2px #fff;
  }
}
