.note {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 10px 5px;
  border-radius: 100%;
  background: #ff8d8d;
  box-shadow: 0px 0px 3px 2px #ff8888;

  &.active {
    background: #d5aef3;
    box-shadow: 0px 0px 3px 2px #d2acef;
  }
  &.is_playing {
    background: #fff;
    box-shadow: 0px 0px 3px 2px #d2acef;
  }
}
