.page_wrapper {
  padding: 50px;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background-image: url("/assets/08.-Violet-Blue.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button_set {
  display: flex;
  width: fit-content;
  margin: 0 auto 30px;
  > div {
    margin-right: 30px;
  }
}
