.page_wrapper {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background-image: url("/assets/08.-Violet-Blue.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.plus_minus_group {
  width: fit-content;
  border: 1px solid black;
  display: flex;
  padding: 0;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #a14a76;
  background-color: rgba(253, 158, 188, 0.932);
  font-size: 17px;
  outline: none;

  .plus,
  .minus {
    box-shadow: none;
    border: none;
    margin: 0;
    font-size: 17px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    outline: none;
  }
}
