.button {
  width: 50px;
  height: 50px;
  background: #ff8d8d;
  box-shadow: 0px 0px 3px 2px #ff8888;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &_icon {
    height: 24px;
    filter: drop-shadow(0px 0px 5px #ffffff);
  }
}
